.modal-fixed-height > .modal-dialog > .modal-content {
	height: 90vh;
}

.modal-body-overflow {
	overflow-y: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.w-70 {
	width: 70% !important;
}

.card-w-100 {
	width: 100%;
	max-width: 100%;
}

.card-w-100:hover {
	cursor: pointer;
	background-color: rgba(238, 119, 36, 0.1);
}

.card-w-100.selected {
	background-color: rgb(238, 119, 36, 0.4);
}

.p-mt {
	margin-top: 6px;
	margin-bottom: 6px;
}

.grey {
	font-size: small;
	color: grey;
}