.section {
	margin-left: 10px;
	margin-right: 10px;
}

h1,
h2,
h3 {
	color: #dd3675;
}

.bottom-border {
	color: #dd3675;
	padding-top: 20px;
	padding-bottom: 8px;
	margin-bottom: 20px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.header-column {
	color: #dd3675;
	border-right: 2px solid #dd3675;
}

.form-select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.messages-section {
	margin-top: 20px;
	margin-bottom: 30px;
}

.card {
	width: fit-content;
	max-width: 40vw;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

.sender-card {
	background-color: rgba(238, 119, 36, 0.1);
}

.card-header {
	background-color: transparent;
	border: 0;
	font-weight: bold;
	font-size: smaller;
}

.sender-header {
	color: #dd3675;
}

.receiver-header {
	color: #b44593;
}

.card-body {
	padding-top: 0;
	padding-bottom: 0;
}

.card-footer {
	background-color: transparent;
	border: 0;
	font-size: x-small;
	text-align: end;
	color: grey;
}

.send-message-box {
	margin-top: 20px;
}

.new-message-title {
	margin-bottom: 15px;
}

.send-message-btn {
	width: fit-content;
	margin-top: 10px;
}

textarea {
	resize: none;
}