.gradient-custom {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  border: 0;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

.nav-item {
  margin: 20px !important;
  border-radius: var(--bs-nav-pills-border-radius);
}

.nav-link {
  color: white;
  border: 2px solid white !important;
}

.nav-link:hover {
  color: #b44593;
}

.nav-link.active {
  color: #dd3675 !important;
  background-color: white !important;
  border: 2px solid #dd3675 !important;
}

.form-control {
  border-color: #dd3675;
}

.login_alert {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #dd3675 !important;
  background-color: white !important;
  border: 2px solid #dd3675 !important;
}

.my_specializations {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}