.list_routes_title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.string_list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar {
  margin-top: 20px;
}

.navbar-button {
  width: 100%;
  color: #dd3675 !important;
}

svg {
  margin-right: 5px;
}